<header class="col-md-12 text-center">
    <h1>Posts</h1>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="d-flex flex-wrap align-items-center justify-content-center"
        style="width: 100%; height: 100%;">
            <div class="col-xs-2">    
                <div class="card-columns">
                    <div class= "card" *ngFor="let blogPost of blogPosts">
                        <img [src]="blogPost.logoURL" alt="" class="card-img-top img-fluid">
                        <div class="card-body">
                            <p class="card-text"><small
                                    class="text-muted">{{ blogPost.date.toMillis() | date:'LLLL dd, yyyy' }}</small></p>
                            <h5 class="card-title">{{ blogPost.title }}</h5>
                            <p class="card-text">
                                {{ blogPost.content }}
                            </p>
                            <a [routerLink]="['/blog-page', blogPost.id]" routerLinkActive="router-link-active"
                                class="card-link">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>