<div class="container-fluid">
    <div class="row">
        <header class="col-md-12 text-center">
            <h1>Posts</h1>
        </header>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="card-columns" style="display: inline-block;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-title">Card Title</p>
                        <p class="card-text">Test</p>
                        <a href="" class="card-link">Read More</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-title">Card Title</p>
                        <p class="card-text">Test</p>
                        <a href="" class="card-link">Read More</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-title">Card Title</p>
                        <p class="card-text">Test</p>
                        <a href="" class="card-link">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>