<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand mb-0 h1" href="#">Jake Maguy</a>
    <form class="form-inline">
        <a class="nav item nav-link" [routerLink]="['/home-page']" routerLinkActive="router-link-active" >Home<span class="sr-only">(current)</span></a>
        <a class="nav item nav-link" [routerLink]="['/blog-page']" routerLinkActive="router-link-active" >Blog<span class="sr-only">(current)</span></a>
        <a class="nav item nav-link" [routerLink]="['/roasts-page']" routerLinkActive="router-link-active" >Roasts<span class="sr-only">(current)</span></a>
    </form>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet> <!-- Container for router results -->
</div>