.row {
    text-align: center;
}

#intro {
    height: 100%;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/jake-maguy.appspot.com/o/pictures%2Fprofile.jpg?alt=media&token=b3ad041e-eab6-4573-899f-3ee0df98c6d1);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-x: 40%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 80px;
}

img {
    object-fit: cover;
    object-position: -40% 0;
}

h1.text-center {
    color: #5A96F0;
}

p.text-center {
}