.row {
    text-align: center;
}

.container-fluid {
    height: 120vw;
    width: -webkit-fill-available;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/jake-maguy.appspot.com/o/pictures%2Fprofile.jpg?alt=media&token=b3ad041e-eab6-4573-899f-3ee0df98c6d1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 30%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-filter: contrast(50%);
    filter: contrast(50%);
    margin-bottom: 80px;
}

@media screen and (min-width: 1025px) {
    .container-fluid {
        height: 50vw;
    }
}

img {
    object-fit: cover;
    object-position: -40% 0;
}

h1.text-center {
    color: #5A96F0;
}

p.text-center {
}