<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex flex-column align-items-center">
                <img src="https://www.stickpng.com/assets/images/5847ea22cef1014c0b5e4833.png" alt="" class="img-fluid" height="223" width="210">
            </div>
        </div>
        <div class="col-md-8">
            <div class="d-flex flex-column">
                <h1 class="text-center">Welcome to My Website</h1>
                <p class="text-center">My name is Jake Maguy.  I am a full-stack angular developer who is looking to provide quality
                    services to your team.
                </p>
            </div>
        </div>
    </div>
    <app-card-info></app-card-info>
</div>