<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div class="d-flex flex-column">
                <h1 class="text-center" style="font-size:5vw;">Welcome to My Website</h1>
                <p class="text-center">My name is Jake Maguy.  I am a full-stack angular developer looking to provide quality
                    services to your team.
                </p>
            </div>
        </div>
    </div>
</div>
<app-card-info></app-card-info>
<app-footer></app-footer>